html body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: slateblue;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 20vh 70vh 10vh;
  grid-gap: 1px 1px;
  grid-template-areas: "h h" "a m" "f f";
}

header {
  //background-color: yellow;
  grid-area: h;
}

aside {
  //background-color: rgb(73, 185, 122);
  grid-area:a;
}

main {
  background-color: cadetblue;
  text-align: justify;
  grid-area: m;
}

footer {
  background-color: red;
  grid-area: f;
}