.wrapper {
    display: grid;
    grid-template-columns: 100px 100px 200px;
    //grid-template-rows: 150px 150px;
}

header{
  background-color: yellow;
  height: 100px;
}

aside{
background-color: rgb(73, 185, 122);
grid-row-start: 1;
grid-row-end: 2;
}

main{ 	
  background-color: cadetblue;
  text-align: justify;
  grid-row-start: 1;
  grid-row-end: 2; 
}