#menu{
float: left;
background-color: seagreen;
//grid-row-start: 1;
//grid-row-end: 2;

}

.wrapper {
    display: grid;
    //grid-template-columns: 100px 100px 100px;
    //grid-template-rows: 150px 150px;
}

#menu h4{
margin-left: 25px;
background-color: blue;
}

#contents{ 	
  background-color: cadetblue;
	margin-left: 25%;
	background: #9FC;  	
  text-align: justify; 
}